<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://www.springframework.org/schema/security"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/security 
http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/logout" access="permitAll" />
		<intercept-url pattern="/listarclientes" access="hasAnyRole('ADMIN','USER')" /> <!-- hasRole('ADMIN')  -->
		<intercept-url pattern="/cliform" access="hasRole('ADMIN')" /><!--    hasRole('USUARIO')  -->
		<intercept-url pattern="/editausuario" access="permitAll" /> 
		<intercept-url pattern="/mainmenu" access="hasAnyRole('ADMIN','USER')" />
		<intercept-url pattern="/menusolicitudes" access="hasAnyRole('ADMIN','USER')" />
	
	<form-login 
		login-page="/login"
		authentication-failure-url="/error"
    	username-parameter="username"
    	password-parameter="password"
	/>
	
	<csrf />
		<logout logout-success-url="/login" />
	</http>
	
	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="bcrypt"/>
		    <jdbc-user-service data-source-ref="dataSource"
		    
		            users-by-username-query= "select rut as username, clave as password, 1 as enabled from usuario where rut=?"
		
		            authorities-by-username-query="select u.rut as username, ur.rol as authority from usuario u, perfilusuario ur 
									where u.usuarioid = ur.usuarioid and u.usuarioid = (SELECT usuarioid from usuario where rut = ?)" />
		</authentication-provider>
	</authentication-manager>
	
</bean:beans>